@model IEnumerable<ProjectX.Models.Users>

@{
    ViewBag.Title = "Reset Users Password";
}

@{ Html.RenderPartial("~/Views/Shared/_HorizontalNavBar.cshtml");}
<div class="container-fluid main-container">
    <div class="col-md-2 sidebar">
        @{ Html.RenderPartial("~/Views/Admin/_LeftAdminPanel.cshtml");}
    </div>
    <div class="col-md-10 content">
        <div class="panel panel-default">
            <div class="panel-heading">
                Reset Password
            </div>
            <div class="panel-body">
                <h2>List of Users</h2>
                <p>Reset Password from below table:</p>
                <table id="tblUsers" class="table table-striped table-bordered" style="width:100%">
                    <tr>
                        <th style="width:100px">ID</th>
                        <th style="width:150px">User Name</th>
                        <th style="width:150px">Email ID</th>
                        <th style="width:150px">Reset</th>
                    </tr>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td class="Id">
                                <span>@user.Id</span>
                            </td>
                            <td class="username">
                                <span>@user.UserName</span>
                            </td>
                            <td class="emailid">
                                <span>@user.EmailId</span>
                            </td>
                            <td class="actions">
                                @if (@user.IsReset)
                                {
                                    <input type="checkbox" class="reset" checked />
                                }
                                @if (!@user.IsReset)
                                {
                                    <input type="checkbox" class="reset" />
                                }
                            </td>
                        </tr>
                    }
                </table>
                <div id="snackbar"></div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        //Remove the dummy row if data present.
        if ($("#tblUsers tr").length > 2) {
            $("#tblUsers tr:eq(1)").remove();
        } else {
            var row = $("#tblUsers tr:last-child");
            row.find("span").html('&nbsp;');
        }
    });

    $("body").on("click", "#tblUsers .reset", function () {
        var row = $(this).closest("tr");
        var user = {};
        user.Id = row.find(".Id").find("span").html();
        user.UserName = row.find(".username").find("span").html();
        user.EmailId = row.find(".emailid").find("span").html();
        user.IsReset = row.find(".actions").find(".reset").is(':checked');
        $.ajax({
            type: "POST",
            url: "/Admin/ResetPassword",
            data: '{user:' + JSON.stringify(user) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response.success) {
                    document.getElementById('snackbar').innerHTML = response.responseText;
                    var x = document.getElementById("snackbar");
                    x.className = "show";
                    setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);
                } else {
                    document.getElementById('snackbar').innerHTML = response.responseText;
                    var x = document.getElementById("snackbar");
                    x.className = "show";
                    setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);
                }
            },
            error: function (response) {
                document.getElementById('snackbar').innerHTML = "Error!!.Try Again Later or Contact Admininstrator!!!.";
                var x = document.getElementById("snackbar");
                x.className = "show";
                setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);
            }
        });
        setTimeout(function () { location.reload(); }, 8000);
    });
</script>
